# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Django migrations
**/migrations/
**/migrations/*.py
**/migrations/*.pyc

# /media/ and /static/ files
/media/
/static/
# Ignore all .env files

# Environment variables
.env
.env.*

# VS Code and PyCharm settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
venv/
env/
ENV/
.venv/
.python-version

# Pip dependency files
pip-log.txt
pip-delete-this-directory.txt

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pytest
.pytest_cache/

# Static files
staticfiles/
static/

# Media files
media/

# Local settings
local_settings.py

# Build artifacts
build/
dist/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Node modules (if using Node for frontend)
node_modules/
